body {
    margin: 0;
    font-family: 'Arial', Helvetica, sans-serif;
    background-color: #fffbea;
    color: #333;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #bbb184;
    color: white;
}

.topnav-login {
    float: right;
}

.topnav-login a {
    float: right;
    background-color: #bbb184;
    color: white;
}

footer {
    text-align: center;
    background-color: #79a3b1;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
}

.login-center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.button {
    background-color: #79a3b1;
    border: 1px outset buttonborder;
    color: black;
    padding: 1px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
}

a.button {
    width: 20%;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    font-size: 16px;
    color: black;
    background-color: #79a3b1;
    text-decoration: none;
}


.search-section {
    max-width: 600px;
    margin: 0 auto 30px auto;
}

.search-section h2 {
    margin-bottom: 15px;
}

.search-section input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}

.search-section button {
    background-color: #79a3b1;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.search-results {
    margin-top: 15px;
}


.prescription-form {
    max-width: 600px;
    margin: 0 auto;
}

.prescription-form h2 {
    margin-bottom: 15px;
}

.prescription-form label {
    display: block;
    margin-bottom: 5px;
}

.prescription-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

.prescription-form button[type="submit"] {
    background-color: #79a3b1;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.prescription-result {
    margin-top: 20px;
}


.unfilled-prescriptions {
    float: right;
    position: fixed;
    top: 60px;
    right: 20px;
    width: 30%px;
    background-color: #eeeeeed0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.unfilled-prescriptions h2 {
    float: right;
    right: 20px;
    margin-top: 0;
    margin-bottom: 15px;
}

.prescription-list {
    
    margin-top: 15px;
}

.prescription-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.prescription-item h3 {
    margin-top: 0;
}

.prescription-item button {
    background-color: #79a3b1;
    color: white;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}